/* src/styles/Dashboard.css */
.App-main {
  background-color: white;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: white;
}

.welcome-message {
  margin-bottom: 20px;
  margin-left: 190px;
  white-space: normal;
  font-size: 45px;
  font-weight: bold;
}

.black-text {
  color: black;
}

.green-text {
  color: #20B15A;
}

.center-image {
  margin: 20px 0;
  width: 16%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left:-450px;
}

.create-button {
  display: block;
  margin: 20px auto;
  margin-left:300px;
  padding: 20px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #20B15A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #0056b3;
}


.background-image{
  position: fixed;
  top: 100px; /* Adjust top positioning as needed */
  right: 100px; /* Position the image at the far right */
  width:35%; 
  bottom:80px;
}