@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /* Example font import */
.App-header {
  background-color: #D7F5DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.app-title {
  margin: 0;
}

.mental-health {
  color: #F55F1D;
  font-weight: bold;
  display: inline;
  font-size: 20px;
  font-family:Poppins;
}

.app {
  color: black;
  display: inline;
  font-weight: bold;
  font-size: 20px;
  font-family:Poppins;
}

.header-right a {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family:Poppins;
}


.login-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px; /* Adjust border-radius to make rounded corners */
  border: 2px solid lightgreen; /* Light boundary */
  background-color: #D7F5DC; /* Green background for login button */
  color: black; /* Black text for login button */
}

.register-btn {
  padding: 0.5rem 1rem;
  background-color: #20B15A; /* Green background for register button */
  color: white; /* White text for register button */
  border: 2px solid #20B15A; 
}

.login-btn:hover{
  background-color: #20B15A; /* Darker green on hover */
}
.register-btn:hover {
  background-color: green; /* Darker green on hover */
}