.App-footer {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .App-footer p {
    margin: 0;
  }
  